* {
    font-family: Corbel, sans-serif;
}

.main-header { /* Sets the colour and position of the header, and fixes it to the screen */
	background-color: #44210F;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	
	/* This is the shadow section */
	-webkit-box-shadow: 0 8px 8px -6px #000; /* horisontal align, vertical align, blur amount, spread amount, colour. */
	-moz-box-shadow: 0 8px 8px -6px #000;
	box-shadow: 0 8px 8px -6px #000;
}

.header-links { /* This section makes your links all on the same line, and centered inside there boxes */
    display: inline-block; 
    text-align: center;
}

.navigation-link {
    display: inline-block;
}

.nav-button {
    width: 65px;
}

.main-header ul { 
    float: right;
    padding-right: 50px;
}

.logo { /* Makes your logo align and look properly */
	width: 270px;
	padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: inline-block;
}

#logo { /* Sets the size of your logo */
	width: 250px;
}